[Desktop Entry]
Categories=Office;Network;Email;
Comment=Simple text-based Mail User Agent
Comment[de]=Einfaches, Text-basiertes Mailprogramm
Exec=neomutt %u
Icon=neomutt
Name=neomutt
Name[de]=Neomutt
MimeType=x-scheme-handler/mailto;
NoDisplay=false
Terminal=true
Type=Application
