#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export CXX=/usr/bin/clang++-5.0
export CC=/usr/bin/clang-5.0
CFLAGS+=-fpie
CPPFLAGS+=-fpie
LDFLAGS+=-pie

###
# header cache backend
# HCACHE_DB := bdb
HCACHE_DB := lmdb
# HCACHE_DB := gdbm
# HCACHE_DB := tokyocabinet
# HCACHE_DB := kyotocabinet
###

# Configure arguments

no_notmuch_architectures := alpha hppa hurd-i386 powerpcspe ppc64 sh4 sparc64
ifneq ($(DEB_HOST_ARCH),$(filter $(DEB_HOST_ARCH), $(no_notmuch_architectures)))
	notmuch = --notmuch
endif

ifeq ($(HCACHE_DB),bdb)
    hcache_db := --bdb
endif
ifeq ($(HCACHE_DB),lmdb)
    hcache_db := --lmdb
endif
ifeq ($(HCACHE_DB),gdbm)
    hcache_db := --gdbm
endif
ifeq ($(HCACHE_DB),tokyocabinet)
    hcache_db := --tokyocabinet
endif
ifeq ($(HCACHE_DB),kyotocabinet)
    hcache_db := --kyotocabinet
endif

%:
	dh $@ --without autoreconf

override_dh_auto_configure:
		DH_COMPAT=10 dh_auto_configure --	\
			--with-mailpath=/var/mail	\
			--docdir=/usr/share/doc/neomutt	\
			--libexecdir=/usr/lib		\
			--fmemopen			\
			--gpgme				\
			$(notmuch)			\
			--lua				\
			--mixmaster			\
			--with-ui=ncurses		\
			--gss				\
			--gnutls			\
			--sasl				\
			$(hcache_db)


override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_install:
	rm -rf debian/tmp/usr/share/doc/neomutt/samples/iconv
	rm -f debian/tmp/usr/share/doc/neomutt/samples/ca-bundle.crt
	( sed -e '/## More settings/,$$d' debian/tmp/etc/neomuttrc || exit 1 ; \
	  cat debian/extra/rc/NeoMuttrc.foot) > debian/tmp/neomuttrc
	dh_install

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog.md
	dh_installchangelogs -XGPL -XChangeLog

override_dh_installexamples:
	dh_installexamples
	find debian/ -size 0 -exec rm -v {} \;

override_dh_builddeb:
	dh_builddeb -- -Zxz


override_dh_link:
	rm -v debian/neomutt/usr/share/doc/neomutt/changelog
	dh_link
